{%load static%}
<html>


<head>
    <title>Code Verification</title>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SQD3B17RB2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SQD3B17RB2');
</script>
<link rel="icon" href="{% static 'images/favicon.ico' %}">

<body>
    <h2>Enter the Code:</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>